*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    background: url(p.jpg);
    background-attachment: fixed;
    background-size: cover;
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    height: auto;
}
.form-holder {
    background: #333333;
    width: 450px;
    max-width: 90%;
    padding: 35px 0px;
    opacity: .7;
    border-radius: 10px;
}
.logo{
    display: block;
    width: 100px;
    margin: 0px auto;
    border-radius: 20px;
    background: #222;
    padding: 10px;
}
.form-holder h2{
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 30px;
}
.form.form-group{
    width: 50%;
    margin: 20px auto;
    padding: 10px;
    position: relative;
}
.form-group input{
    width: 45%;
	margin-left:123px;
    padding: 10px;
    background: #222;
    border: none;
    outline: none;
    color: white;
    font-size: 15px;
    border-bottom: 2px solid #777;
    border-radius: 5px;
    padding-left: 40px;
}
.form-group img{
    width: 26px;
    position: absolute;
    left: 15px;
    top: 13px;
}

.form-group button{
    width: 100%;
    padding: 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 14px;
    border: 2px solid #777;
    border-radius: 5px;
    cursor: pointer;
}
.form-group input:focus{
    background: #333;
    border-color: #0088FF;
}
.form-group button:hover{
    background: #333;
}
.form-group a{
    color: white;
    text-decoration: none;
    font-size: 14px;
}
.form-group a:hover{
    color: white;
}
.form-group .right-link{
    float: right;
}
.error p {
 color:#FF0000;
 font-size:20px;
 font-weight:bold;
 margin:50px;
 }